.PageNotFound {
    height: 100%;
	padding: 0;
    margin: 0;
    background-image: url("../../../Assets/Images/page-not-found.jpg");
    background-attachment: fixed;
    background-position: center;
}

.PageNotFound h2 {
    margin: 0;
    padding-top: 100px;
}
