.VacationCard {
    
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;

}
.VacationCard {
	width: 300px;
    /* display: inline-flex; */
    background-image: linear-gradient(90deg, darkCyan, lightCyan );
    text-align: left;
}

.VacationCard img {
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 10px;
    vertical-align: middle;
}

.VacationCard > div:last-child {
    margin-left: auto;
}

