html, body, #root {
    margin: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(rgb(192, 216, 180), rgb(151, 122, 121), rgb(120, 151, 164));
    box-sizing: border-box;
}

